1

In [4]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\admin\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [5]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import time

In [3]:
driver=webdriver.Chrome(r'C:\Users\Admin\Desktop\Internship\worksheet set 1\chromedriver.exe')

In [4]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [8]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

In [9]:
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
job_title

['Senior Data Analyst',
 'Senior Data Analyst II',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Commercial Stream Data Analyst',
 'Data Analyst',
 'Data Analyst / MIS',
 'Business Analyst/ Data Analyst opportunity - Bangalore, India',
 'Job opportunity Switzerland based MNC / JR. Data Analyst']

In [10]:
job_location=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[0:10]:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Indira Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [11]:
company_name=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(i.text)
company_name

['Optum',
 'Flipkart',
 'Bright Money',
 'Aon Hewitt',
 'Rise Finconnect',
 'Schneider Electric',
 'Cargill',
 'Trukker Technologies',
 'GSG consulting services private ltd',
 'Allegis Services India Pvt. Ltd.']

In [12]:
experience_required=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')[0:10]:
    experience_required.append(i.text)
experience_required

['5-7 Yrs',
 '3-6 Yrs',
 '0-2 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '0-2 Yrs']

In [13]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience_Required':experience_required})
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
1,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
3,Data Analyst,Bangalore/Bengaluru,Aon Hewitt,2-4 Yrs
4,"Data Analyst - Data Science, 3 To 5 Years","Bangalore/Bengaluru, Mumbai (All Areas)",Rise Finconnect,2-6 Yrs
5,Commercial Stream Data Analyst,Bangalore/Bengaluru,Schneider Electric,3-8 Yrs
6,Data Analyst,Bangalore/Bengaluru,Cargill,2-7 Yrs
7,Data Analyst / MIS,Bangalore/Bengaluru(Indira Nagar),Trukker Technologies,3-6 Yrs
8,Business Analyst/ Data Analyst opportunity - B...,Bangalore/Bengaluru,GSG consulting services private ltd,5-10 Yrs
9,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-2 Yrs

2

In [15]:
driver=webdriver.Chrome(r'C:\Users\Admin\Desktop\Internship\worksheet set 1\chromedriver.exe')

In [16]:
driver.get('https://www.naukri.com/')

In [17]:
Designations=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
Designations.send_keys('Data Scientist')

In [18]:
Location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
Location.send_keys('Bangalore')

In [19]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
Search.click()

In [20]:
Job_Title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    Job_Title.append(i.text)
Job_Title

['Analystics & Modeling Specialist',
 'Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Assistant Manager - Data Science',
 'Data scientist _Tata Consultancy Services(Tcs)',
 'Data Science Senior Analyst',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Expert Data Scientist',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'ACN - Applied Intelligence - Data & Insights - CPG - 09']

In [21]:
Job_Location=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[0:10]:
    Job_Location.append(i.text)
Job_Location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Cochin, Mumbai',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Kochi/Cochin, Indore, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [22]:
Company_Name=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    Company_Name.append(i.text)
Company_Name

['Accenture',
 'Wipro',
 'Wipro',
 'CitiusTech',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Accenture',
 'NTT DATA Business Solutions Private Limited',
 'United Phosphorus Limited',
 'Accenture',
 'Accenture']

In [23]:
print(len(Job_Title),len(Job_Location),len(Company_Name))

10 10 10

In [24]:
df=pd.DataFrame({'Job_Title':Job_Title,'Job_Location':Job_Location,'Company_Name':Company_Name})
df

,Job_Title,Job_Location,Company_Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
2,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
5,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",United Phosphorus Limited
8,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
9,ACN - Applied Intelligence - Data & Insights -...,Bangalore/Bengaluru,Accenture

3

In [3]:
driver=webdriver.Chrome(r'C:\Users\Admin\Desktop\Internship\worksheet set 1\chromedriver.exe')

In [4]:
driver.get(' https://www.naukri.com/')

In [5]:
designaion=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
designaion.send_keys('Data Scientist')

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

In [8]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
location.click()

In [9]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [10]:
Job_Title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    Job_Title.append(i.text)
Job_Title

['Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes',
 'Data Scientist - Noida/Bangalore',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist - Predictive Analytics',
 'Data Scientist',
 'Chat-bot Developer / Data Scientist',
 'Data Scientist / Chat-bot Developer',
 'Data Scientist - Engine Algorithm',
 'Data Scientist For Healthcare Product team',
 'Data Scientist']

In [11]:
Job_Location=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[0:10]:
    Job_Location.append(i.text)
Job_Location

['New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Coimbatore, Cochin, Mumbai',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH during Covid)',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Jaipur']

In [12]:
Company_Name=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    Company_Name.append(i.text)
Company_Name

['Wipro',
 'EXL',
 'Boston Consulting Group',
 'Confidential',
 'Optum',
 'Big Seo Buzz',
 'Big Seo Buzz',
 'Primo Hiring',
 'SECUREKLOUD TECHNOLOGIES',
 'Celebal Technologies']

In [13]:
Experience_Required=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')[0:10]:
    Experience_Required.append(i.text)
Experience_Required

['5-10 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '1-6 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '1-5 Yrs']

In [14]:
print(len(Job_Title),len(Job_Location),len(Company_Name),len(Experience_Required))

10 10 10 10

In [15]:
df=pd.DataFrame({'Job_Title':Job_Title,'Job_Location':Job_Location,'Company_Name':Company_Name,'Experience_Required':Experience_Required})
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

4

In [56]:
driver=webdriver.Chrome(r'C:\Users\Admin\Desktop\Internship\worksheet set 1\chromedriver.exe')

In [57]:
driver.get('https://www.flipkart.com/')

In [58]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [59]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [7]:
brand=[]

In [64]:
start,stop=0,3
for page in range(start,stop):
    a=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in a:
        brand.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click() 
    time.sleep(3)

In [65]:
len(brand)

120

In [80]:
Brand=brand[0:100]
Brand

['VINCENT CHASE',
 'VINCENT CHASE',
 'DAHAAZIL',
 'Fastrack',
 'Fastrack',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'PIRASO',
 'Rich Club',
 'PIRASO',
 'VINCENT CHASE',
 'NuVew',
 'PHENOMENAL',
 'NuVew',
 'VINCENT CHASE',
 'Fastrack',
 'Mi',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'Elligator',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'SRPM',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'kingsunglasses',
 'ROYAL SON',
 'PIRASO',
 'Lee Topper',
 'SRPM',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'SUNBEE',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'PIRASO',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'Lee Topper',
 'GANSTA',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'AISLIN',
 'ROYAL SON',
 'New Specs',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'IZAAN MART',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'DAHAAZIL',
 'Fastrack',
 'Fastrack',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'PIRASO',
 'Rich Club',
 'PIRASO',
 'ROYAL SON',
 'NuVew',
 'PHENOMENAL',
 'NuVew',
 'ROYAL SON',
 'Fastrack',
 'Mi',
 'GANSTA',
 'ROYAL SON']

In [69]:
Product_Description=[]
for page in range(0,3):
    b=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in b:
        Product_Description.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(4)

In [70]:
len(Product_Description)

120

In [81]:
Product_Description=Product_Description[0:100]
Product_Description

['by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (61)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'Polarized, UV Protection Aviator Sunglasses (64)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (50)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'Others Aviator Sunglasses (Free Size)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Gradient, UV Protection Retro Square Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (56)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular Sunglasses (50)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (44)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized Rectangular Sunglasses (60)',
 'Mirrored Aviator Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (51)']

In [72]:
Price=[]
for page in range(0,3):
    c=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in c:
        Price.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(4)

In [73]:
len(Price)

120

In [82]:
Price=Price[0:100]
Price

['749',
 '529',
 '949',
 '949',
 '379',
 '259',
 '207',
 '849',
 '474',
 '279',
 '299',
 '799',
 '219',
 '220',
 '599',
 '799',
 '559',
 '749',
 '213',
 '999',
 '639',
 '443',
 '189',
 '999',
 '559',
 '381',
 '599',
 '799',
 '324',
 '269',
 '279',
 '749',
 '559',
 '949',
 '290',
 '499',
 '599',
 '331',
 '559',
 '799',
 '1,533',
 '1,533',
 '194',
 '599',
 '749',
 '283',
 '474',
 '899',
 '279',
 '325',
 '359',
 '799',
 '399',
 '176',
 '252',
 '479',
 '799',
 '298',
 '669',
 '1,049',
 '296',
 '276',
 '599',
 '379',
 '265',
 '179',
 '969',
 '719',
 '379',
 '211',
 '379',
 '559',
 '949',
 '219',
 '616',
 '443',
 '195',
 '272',
 '304',
 '616',
 '749',
 '529',
 '949',
 '379',
 '259',
 '207',
 '474',
 '279',
 '299',
 '219',
 '220',
 '599',
 '559',
 '749',
 '213',
 '639',
 '443',
 '189',
 '559',
 '381']

In [76]:
discount=[]
for page in range(0,3):
    d=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in d:
        discount.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(5)

In [78]:
len(discount)

120

In [83]:
Discount=discount[0:100]
Discount

['23% off',
 '23% off',
 '80% off',
 '25% off',
 '25% off',
 '78% off',
 '78% off',
 '55% off',
 '82% off',
 '53% off',
 '86% off',
 '68% off',
 '50% off',
 '76% off',
 '74% off',
 '76% off',
 '33% off',
 '88% off',
 '25% off',
 '62% off',
 '85% off',
 '77% off',
 '25% off',
 '74% off',
 '86% off',
 '82% off',
 '25% off',
 '64% off',
 '81% off',
 '83% off',
 '74% off',
 '62% off',
 '62% off',
 '78% off',
 '75% off',
 '70% off',
 '88% off',
 '89% off',
 '79% off',
 '75% off',
 '62% off',
 '74% off',
 '52% off',
 '81% off',
 '80% off',
 '79% off',
 '76% off',
 '82% off',
 '88% off',
 '63% off',
 '87% off',
 '25% off',
 '72% off',
 '70% off',
 '82% off',
 '20% off',
 '70% off',
 '88% off',
 '72% off',
 '80% off',
 '70% off',
 '80% off',
 '82% off',
 '82% off',
 '72% off',
 '52% off',
 '85% off',
 '82% off',
 '83% off',
 '72% off',
 '52% off',
 '74% off',
 '24% off',
 '76% off',
 '82% off',
 '82% off',
 '84% off',
 '86% off',
 '70% off',
 '78% off',
 '23% off',
 '23% off',
 '80% off',
 '25% off',
 '25% off',
 '78% off',
 '78% off',
 '68% off',
 '82% off',
 '53% off',
 '86% off',
 '55% off',
 '50% off',
 '76% off',
 '74% off',
 '55% off',
 '33% off',
 '88% off',
 '25% off',
 '76% off']

In [84]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

100 100 100 100

In [85]:
df=pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price,'Discount':Discount})
df

,Brand,Product_Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",749,23% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",529,23% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",949,80% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),949,25% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),379,25% off
...,...,...,...,...
95,ROYAL SON,"by Lenskart Polarized, UV Protection Cat-eye S...",639,55% off
96,Fastrack,Polarized Aviator Sunglasses (Free Size),443,33% off
97,Mi,UV Protection Round Sunglasses (54),189,88% off
98,GANSTA,UV Protection Shield Sunglasses (Free Size),559,25% off
99,ROYAL SON,"Polarized, UV Protection Round Sunglasses (51)",381,76% off

5

In [6]:
driver=webdriver.Chrome(r'C:\Users\Admin\Desktop\Internship\worksheet set 1\chromedriver.exe')

In [7]:
driver.get('https://www.flipkart.com/')

In [8]:
remove_window=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
remove_window.click()

In [9]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('iphone 11')

In [10]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [17]:
rating=[]
for page in range(0,10):
    a=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in a:
        rating.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [18]:
rating

[]

In [133]:
Review_summary=[]
for page in range(0,10):
    b=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in b:
        Review_summary.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [134]:
Review_summary=Review_summary[0:100]
Review_summary

[]

In [136]:
Full_Review=[]
for page in range(0,10):
    b=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in b:
        Full_Review.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [137]:
Full_Review=Full_Review[0:100]
Full_Review

[]

In [139]:
df=pd.DataFrame({'Rating':rating,'Review_summary':Review_summary,'Full_Review':Full_Review})
df

Empty DataFrame
Columns: [Rating, Review_summary, Full_Review]
Index: []

6

In [3]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get('https://www.flipkart.com/')

In [5]:
Product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
Product.send_keys('sneakers')

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [10]:
Brand=[]
for page in range(0,3):
    a=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in a:
        Brand.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [21]:
Product_Description=[]
for page in range(0,3):
    b=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in b:
         Product_Description.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [15]:
Price=[]
for page in range(0,3):
    c=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in c:
        Price.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [18]:
Discount=[]
for page in range(0,3):
    d=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in d:
        Discount.append(i.text)
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [26]:
df=pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price,'Discount':Discount})
df

,Brand,Product_Description,Price,Discount
0,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men",479,73% off
1,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,297,72% off
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,299,50% off
3,Bonexy,Sneakers For Men,424,50% off
4,URBANBOX,Sneakers For Women,198,80% off
...,...,...,...,...
95,pollachief,Men Casual Shoe New Trend With Fashion Panda D...,424,68% off
96,RED TAPE,Modern Trendy Sneakers boot Sneakers For Men,"1,299",68% off
97,PUMA,Sneakers For Men,"2,599",60% off
98,Robbie jones,x 1DER Jack V2 Sneakers For Men,449,49% off
99,Bonexy,Sneakers For Men,"1,897",66% off

7

In [34]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [35]:
driver.get('https://www.myntra.com/shoes')

This website is not allowing me to do scraping

8

In [36]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [37]:
driver.get('https://www.amazon.in/')

In [38]:
Product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Product.send_keys('Laptop')

In [39]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [40]:
Title=[]
for i in driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
    Title.append(i.text)
Title=Title[0:11]
Title

['HP 15s-Ryzen 3 5300U 8GB SDRAM/256GB SSD 15.6inch(39.6cm) FHD, Micro-Edge, Anti-Glare Display/AMD Radeon Graphics/Dual Speakers/Windows 11 Home/Alexa/MS Office/Fast Charge/Silver/1.69Kg, 15S-Ey2000AU',
 'HP 14s, 11th Gen Intel Core i3, 8GB RAM/512GB SSD 14inch(36.6 cm) FHD,Micro-Edge, IPS Display/Alexa Built-in/Windows 11 Home/Backlit Keyboard/UHD Graphics/Dual Speakers/Ms Office, 14s-Dq2606tu',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6" (39.62cm) HD Thin & Light Laptop (8GB/256GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WQ00MQIN',
 "Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6'' (29.46cm) HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/Office 2021/3months Game Pass/Platinum Grey/1.2Kg), 81VT009UIN",
 'ASUS ZenBook 14 (2020) Intel Core i5-1135G7 11th Gen 14-inch (35.56 cms) FHD T&L Laptop (8GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris X Graphics/Pine Grey/1.17 kg), UX425EA-BM501TS',
 'HP 14 10th Gen Intel Core i5-10210U 14 inches HD Laptop (8GB/512GB SSD/Windows 10/MS Office/Windows 10/Jet Black/1.5 kg), 14-ck2018tu',
 'HP Envy x360 13-ay0078AU 13.3 inches Laptop (3rd Gen AMD Ryzen5 4500U/8GB/512GB SSD/Windows 10 Pro/Integrated Graphics), Night Fall Black, 1.3kg',
 '',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD, Intel Core i3-1005G1 10th Gen, Thin and Light Laptop (8GB/1TB HDD/Windows 11/Integrated Graphics/Grey/1.6 kg), X415JA-BV301W',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD, Intel Core i3-1005G1 10th Gen, Thin and Light Laptop (8GB/256GB SSD/Office 2021/Windows 11/Integrated Graphics/Grey/1.6 kg), X415JA-BV311WS']

In [41]:
Rating=[]
for i in driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]'):
    Rating.append(i.text)
Rating=Rating[0:11]
Rating

['', '', '', '', '', '', '', '', '', '', '']

In [42]:
Price=[]
for i in driver.find_elements(By.XPATH,'//span[@class="a-price"]'):
    Price.append(i.text)
Price=Price[0:11]
Price

['36,990',
 '40,990',
 '25,990',
 '29,980',
 '21,789',
 '36,990',
 '40,990',
 '29,490',
 '39,990',
 '',
 '59,490']

In [43]:
df=pd.DataFrame({'Title':Title,'Rating':Rating,'Price':Price})
df

                                                Title Rating    Price
0   HP 15s-Ryzen 3 5300U 8GB SDRAM/256GB SSD 15.6i...         36,990
1   HP 14s, 11th Gen Intel Core i3, 8GB RAM/512GB ...         40,990
2   ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...         25,990
3   Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...         29,980
4   Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...         21,789
5   ASUS ZenBook 14 (2020) Intel Core i5-1135G7 11...         36,990
6   HP 14 10th Gen Intel Core i5-10210U 14 inches ...         40,990
7   HP Envy x360 13-ay0078AU 13.3 inches Laptop (3...         29,490
8                                                             39,990
9   ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...
10  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...         59,490

9

In [15]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [16]:
driver.get('https://www.ambitionbox.com/')

In [17]:
job=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
job.click()

In [18]:
Designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
Designation.send_keys('Data Scientist')

In [19]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search.click()

In [21]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location.click()

In [22]:
noida=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
noida.send_keys('Noida')

In [23]:
GN=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
GN.click()

In [24]:
Company_Name=[]
for i in driver.find_elements(By.XPATH,'//p[@class="company body-medium"]'):
    Company_Name.append(i.text)
Company_Name

['CBRE South Asia Pvt Ltd',
 'Ericsson India Global Services Pvt. Ltd.',
 'GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Ericsson India Global Services Pvt. Ltd.',
 'SOPRA STERIA INDIA LIMITED',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'EY']

In [55]:
b=[]
a=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in a :
    b.append(i.text)  
T=[s for s in b if s != 'via naukri.com']
Time=T[0:10]
Time

['4hr ago',
 '10d ago',
 '3d ago',
 '6d ago',
 '7d ago',
 '8d ago',
 '20d ago',
 '9d ago',
 '9d ago',
 '19d ago']

In [26]:
Rating=[]
for i in driver.find_elements(By.XPATH,'//span[@class="body-small"]'):
    Rating.append(i.text)
Rating

['4.3', '4.3', '4.0', '4.1', '4.1', '4.1', '4.3', '4.2', '3.9', '3.8']

In [107]:
print(len(Company_Name),len(Time),len(Rating))

10 20 10

In [56]:
df=pd.DataFrame({'Company_Name':Company_Name,'Time':Time,'Rating':Rating})
df

                                     Company_Name     Time Rating
0                         CBRE South Asia Pvt Ltd  4hr ago    4.3
1        Ericsson India Global Services Pvt. Ltd.  10d ago    4.3
2                   GENPACT India Private Limited   3d ago    4.0
3  Optum Global Solutions (India) Private Limited   6d ago    4.1
4  Optum Global Solutions (India) Private Limited   7d ago    4.1
5  Optum Global Solutions (India) Private Limited   8d ago    4.1
6        Ericsson India Global Services Pvt. Ltd.  20d ago    4.3
7                      SOPRA STERIA INDIA LIMITED   9d ago    4.2
8                EXL Services.com ( I ) Pvt. Ltd.   9d ago    3.9
9                                              EY  19d ago    3.8

10

In [190]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [191]:
driver.get('https://www.ambitionbox.com/')

In [193]:
Salary=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]')
Salary.click()

In [194]:
Browse_Salary=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/a')
Browse_Salary.click()

In [209]:
Designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
Designation.send_keys('Data Scientist')

In [210]:
DS=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
DS.click()

In [214]:
Company=[]
for i in driver.find_elements(By.XPATH,'//div[@class="company-info"]')[0:10]:
    Company.append(i.text.split('\n')[0])
Company

['Walmart',
 'Ab Inbev',
 'Optum',
 'ZS',
 'Fractal Analytics',
 'Tiger Analytics',
 'Legato Health Technologies',
 'Tredence',
 'UnitedHealth',
 'Reliance Jio']

In [231]:
Salary_Record=[]
for i in driver.find_elements(By.XPATH,'//span[@class="datapoints"]')[0:10]:
    Salary_Record.append(i.text)
Salary_Record

['(based on 22 salaries)',
 '(based on 50 salaries)',
 '(based on 48 salaries)',
 '(based on 32 salaries)',
 '(based on 105 salaries)',
 '(based on 60 salaries)',
 '(based on 11 salaries)',
 '(based on 10 salaries)',
 '(based on 90 salaries)',
 '(based on 45 salaries)']

In [224]:
Min_Salary=[]
for i in driver.find_elements(By.XPATH,'//div[@class="salary-values"]'):
    Min_Salary.append(i.text.split('\n')[0])
Min_Salary

[' 25.0L',
 ' 15.0L',
 ' 11.0L',
 ' 11.0L',
 ' 9.0L',
 ' 9.0L',
 ' 11.0L',
 ' 8.8L',
 ' 8.0L',
 ' 6.0L']

In [219]:
Avg_Salary=[]
for i in driver.find_elements(By.XPATH,'//p[@class="averageCtc"]'):
    Avg_Salary.append(i.text)
Avg_Salary

[' 31.7L',
 ' 19.7L',
 ' 16.5L',
 ' 15.7L',
 ' 15.1L',
 ' 14.6L',
 ' 14.6L',
 ' 13.9L',
 ' 13.7L',
 ' 13.6L']

In [225]:
Max_Salary=[]
for i in driver.find_elements(By.XPATH,'//div[@class="salary-values"]'):
    Max_Salary.append(i.text.split('\n')[1])
Max_Salary

[' 45.0L',
 ' 25.5L',
 ' 22.6L',
 ' 22.0L',
 ' 23.0L',
 ' 20.0L',
 ' 20.0L',
 ' 17.5L',
 ' 20.5L',
 ' 26.2L']

In [245]:
Experience=[]
for i in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')[0:10]:
    Experience.append(i.text.split()[0:2])
Experience

[['3-4', 'yrs'],
 ['2-4', 'yrs'],
 ['2-4', 'yrs'],
 ['1-2', 'yrs'],
 ['2-4', 'yrs'],
 ['2-4', 'yrs'],
 ['4', 'yrs'],
 ['3', 'yrs'],
 ['2-4', 'yrs'],
 ['1-4', 'yrs']]

In [243]:
df=df=pd.DataFrame({'Company':Company,'Min_Salary':Min_Salary,'Avg_Salary':Avg_Salary,'Max_Salary':Max_Salary,'Experience':Experience})
df

                      Company Min_Salary Avg_Salary Max_Salary  Experience
0                     Walmart     25.0L     31.7L     45.0L  [3-4, yrs]
1                    Ab Inbev     15.0L     19.7L     25.5L  [2-4, yrs]
2                       Optum     11.0L     16.5L     22.6L  [2-4, yrs]
3                          ZS     11.0L     15.7L     22.0L  [1-2, yrs]
4           Fractal Analytics      9.0L     15.1L     23.0L  [2-4, yrs]
5             Tiger Analytics      9.0L     14.6L     20.0L  [2-4, yrs]
6  Legato Health Technologies     11.0L     14.6L     20.0L    [4, yrs]
7                    Tredence      8.8L     13.9L     17.5L    [3, yrs]
8                UnitedHealth      8.0L     13.7L     20.5L  [2-4, yrs]
9                Reliance Jio      6.0L     13.6L     26.2L  [1-4, yrs]